# type of computer (master|slave)
type	slave
# where are the torrents?
torrents	d:\btindex\torrents
# where is tixati storing the torrents
tixati_torrents	d:\btindex\tixati
# where can temp stuff be stored?
temp	d:\temp
